@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:'Lexend Deca',sans-serif;
  font-weight:400;
}
body{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.box-container{
  width:100%;
  max-width:1440px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:wrap;
}
.box{
  width:269px;
  padding:15px;
  min-height:430px;
}
.box-1{
  background-color:hsl(31, 77%, 52%);
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}
.box-2{
  background-color:hsl(184, 100%, 22%);
}
.box-3{
  background-color:hsl(179, 100%, 13%);
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
.content{
  padding:10px;
}
h1{
  color:hsl(0, 0%, 95%);
  font-family:'Lexend Deca', sans-serif;
  margin:20px 0;
  
}
p{
  color:hsla(0, 0%, 100%, 0.75);
  font-family:'Big Shoulders Display', cursive;
}
.btn{
  margin:60px 0;
  padding:15px 40px;
  border:0;
  border-radius:30px;
  outline:none;
  background-color:#fff;
  font-size:15px;
  cursor:pointer;
  font-family:'Lexend Deca', sans-serif;
  font-weight:700;
}
.btn1{
  color:hsl(31, 77%, 52%)
}
.btn2{
  color:hsl(184, 100%, 22%)
}

.btn3{
  color:hsl(179, 100%, 13%)
}

.btn:hover{
  background-color:transparent;
  border:2px solid #fff;
  color:#fff;
  transition:0.4s;
}

@media screen and (max-width: 375px) {
  body {
    background-color: #5d5dd0;
    color: white;
  }
}
@media screen and (max-width: 1440px) {
  body {
/*     background-color: olive; */
    color: white;
  }
}